.main {
    background-color: seashell;
    }

.Header {
    color: #101B6E;
    text-align: center;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
}

.Subheader {
    color: #101B6E;
    text-align: left;
    font-size: 23px;
    font-family: 'Satisfy', cursive;
    padding: 10px;
}

.About {
    color: #00073C;
    text-align: left;
    font-size: 16px;
    font-family: 'Baskervville', serif;
    padding: 10px;
    line-height: 1.5;
}

.Hobbies {
    color: #00073C;
    text-align: left;
    font-size: 16px;
    font-family: 'Baskervville', serif;
    padding: 10px;
    line-height: 1.5;
}

.AdobeXD {
    position: relative;
    max-width: 250px;
    max-height: 225px;
    bottom: 390px;
    left: 905px;
}

.Leadership {
    position: relative;
    max-height: 225px;
    max-width: 250px;
    bottom: 390px;
    left: 790px;
}

.Presentation {
    position: relative;
    max-width: 250px;
    max-height: 225px;
    bottom: 390px;
    left: 680px;
}

.WebDesign {
    position: relative;
    max-width: 250px;
    max-height: 225px;
    bottom: 225px;
    left: 139px;
}

.TeamWork {
    position: relative;
    max-width: 250px;
    max-height: 225px;
    bottom: 225px;
    left: 25px;
}

.Adaptability {
    position: relative;
    max-width: 250px;
    max-height: 225px;
    bottom: 417px;
    left: 1188px;
}

.Profile img {
    position: relative;
    height: 350px;
    bottom: 870px;
    left: 465px;
}

.ContactInformation {
    font-size: 14px;
    font-family: 'Baskervville', serif;
    position: relative;
    bottom: 750px;
    left: 1000px;
}

.Quote {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-family: 'Baskervville', serif;
    position: relative;
    bottom: 464px;
}